
{% extends 'base.html' %}
{% block content %}


{% if request.user.is_writer %}
<a class="btn btn-info m-2" role="button" href="{% url 'create_blog_form' %}">افزودن اخبار جدید</a>
<a class="btn btn-success m-2" role="button" href="{% url 'author_blogs' %}">مشاهده مقالات خود</a>
{% endif %}
    {% for blog in blogs %}
        <div class="card p-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">{{ blog.create_date }}</p>
                <a href="{% url 'blog_detail' blog.pk %}" class="btn btn-primary">دیدن مقاله</a>
            </div>
        </div>

    {% endfor %}

{% endblock content %}



{% block title %} mamad gholi {% endblock %}
