{% extends 'base.html' %}

{% block content %}
    <form method="post" action="{% url 'create_blog_form' %}">
        {% csrf_token %}
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">تیتر خبر</label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">متن خبر</label>
            <div class="col-sm-10">
                <input type="text" name="body" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">نویسنده</label>
            <div class="col-sm-10">
                <select class="form-control" name="author">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">ثبت خبر</button>
            </div>
        </div>
    </form>
{% endblock %}